.card {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    &__info {
        background-color: #458bcb;
        padding: 10px;
    }

    &__name {
        font-size: 1.7rem;
    }
    &__price {
        font-size: large;
    }
    &__description {
        color: white;
    }
    &__id {
        font-weight: 500;
    }
    &__img {
    }
}
