.card {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}
.card__name {
  font-size: 1.7rem;
}
.card__price {
  font-size: large;
}
.card__description {
  color: aqua;
}
.card__id {
  font-weight: 500;
}